TIENDA_YHM/TIENDA_YHM/Service References/FerreteriaServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.8/ServiceFerreteria2/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.8/ServiceFerreteria2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.8/ServiceFerreteria2/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSucursalLMO" />
      <xsd:import schemaLocation="http://192.168.0.8/ServiceFerreteria2/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoSucursal" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoCategorias" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarDatosTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarDatosTabla" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarDatosTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarDatosTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarDatosBitacora_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarDatosBitacora" />
  </wsdl:message>
  <wsdl:message name="IService1_CargarDatosBitacora_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarDatosBitacoraResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarProducto" message="tns:IService1_RegistrarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarProductoResponse" message="tns:IService1_RegistrarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListadoSucursal" message="tns:IService1_ListadoSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListadoSucursalResponse" message="tns:IService1_ListadoSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListadoCategorias" message="tns:IService1_ListadoCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListadoCategoriasResponse" message="tns:IService1_ListadoCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargarDatosTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CargarDatosTabla" message="tns:IService1_CargarDatosTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CargarDatosTablaResponse" message="tns:IService1_CargarDatosTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarProducto" message="tns:IService1_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarProductoResponse" message="tns:IService1_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarProducto" message="tns:IService1_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarProductoResponse" message="tns:IService1_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargarDatosBitacora">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CargarDatosBitacora" message="tns:IService1_CargarDatosBitacora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CargarDatosBitacoraResponse" message="tns:IService1_CargarDatosBitacora_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoSucursal">
      <soap:operation soapAction="http://tempuri.org/IService1/ListadoSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoCategorias">
      <soap:operation soapAction="http://tempuri.org/IService1/ListadoCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatosTabla">
      <soap:operation soapAction="http://tempuri.org/IService1/CargarDatosTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarDatosBitacora">
      <soap:operation soapAction="http://tempuri.org/IService1/CargarDatosBitacora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.0.8/ServiceFerreteria2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>