TIENDA_YHM/TIENDA_YHM/Service References/SucursalServiceRef/WCFSucursal42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SucursalWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SucursalWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="BitEstatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="DteFechaRegistro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
          <xs:element minOccurs="0" name="StrPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="BanErrores" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensajes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="Producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="BitEstatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
          <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
          <xs:element minOccurs="0" name="IntCantidad" type="xs:int" />
          <xs:element minOccurs="0" name="StrProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Categoria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="BitEstatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="StrCategoria" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>