TIENDA_YHM/TIENDA_YHM/Service References/ServiceTiendaDEJ/ServiceTiendaDEJ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTiendaDEJ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.22/Servicio_Tienda/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.22/Servicio_Tienda/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.22/Servicio_Tienda/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTiendaDEJ_GetProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducto" />
  </wsdl:message>
  <wsdl:message name="IServiceTiendaDEJ_GetProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTiendaDEJ_GetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceTiendaDEJ_GetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTiendaDEJ_GetProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="IServiceTiendaDEJ_GetProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTiendaDEJ">
    <wsdl:operation name="GetProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetProducto" message="tns:IServiceTiendaDEJ_GetProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetProductoResponse" message="tns:IServiceTiendaDEJ_GetProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetUsuario" message="tns:IServiceTiendaDEJ_GetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetUsuarioResponse" message="tns:IServiceTiendaDEJ_GetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetProductos" message="tns:IServiceTiendaDEJ_GetProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTiendaDEJ/GetProductosResponse" message="tns:IServiceTiendaDEJ_GetProductos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTiendaDEJ" type="tns:IServiceTiendaDEJ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducto">
      <soap:operation soapAction="http://tempuri.org/IServiceTiendaDEJ/GetProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceTiendaDEJ/GetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/IServiceTiendaDEJ/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTiendaDEJ">
    <wsdl:port name="BasicHttpBinding_IServiceTiendaDEJ" binding="tns:BasicHttpBinding_IServiceTiendaDEJ">
      <soap:address location="http://192.168.0.22/Servicio_Tienda/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>