TIENDA_YHM/TIENDA_YHM/Service References/ServSucJNJ/ServiceCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTiendaJNJCliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTiendaJNJCliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegProducto" nillable="true" type="tns:RegProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegProducto" nillable="true" type="tns:ArrayOfRegProducto" />
  <xs:complexType name="RegProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="BitEstatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
          <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
          <xs:element minOccurs="0" name="NomProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegProducto" nillable="true" type="tns:RegProducto" />
  <xs:complexType name="BaseRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRespuesta" nillable="true" type="tns:BaseRespuesta" />
</xs:schema>